
h1{
    color: white;/*color de letra*/
    background-color: brown;
    text-align: center;
}

h2{
    color: brown;
}

body{
    font-family: "Tahoma";
    text-align: center;
    background-color: bisque;
    
}

label{
    display: block;
    width: 200px;
    font-weight: bold;
    color: brown;
    margin-top: 8px;
}